.bodybg{
 -fx-background-image: url('../avatar.jpg');
 -fx-background-size: 100% 100%;
}
.startbutton{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
.startbutton:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.startbutton:pressed{
    -fx-background-color: black;
    -fx-text-fill : white;
}
.playerName1{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.labelPlayer{
    -fx-text-fill: green;
}
.text-field {
    -fx-text-fill: black;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}