AnchorPane {
    -fx-background-color: #303030;
}

Label {
       -fx-font-weight: bold;
       -fx-font-family: "Gill Sans Ultra Bold Condensed";
       -fx-text-fill: white;
       -fx-font-size: 17;
       -fx-background-color: transparent;
}